@import url(menu.css);
@import url(searchbar.css);
@import url(categories.css);
@import url(products.css);
@import url(advantages.css);

:root {
    /* colors */

    --black: #000;
    --gray: #ccc;
    --lime: #daff01;
    --purple: #9353ff;

    --pinkich: #ee6471;
    --orangeich: #f87f46;

    /* fonts */

    --main-font: "Inter", sans-serif;

    /* weights */

    --regular: 400;
    --medium: 500;
    --bold: 700;

    /* font sizes */

    --s: 13px;
    --m: 16px;
    --g: 24px;
    --gg: 28px;

}

body {
    font-family: var(--main-font);
}